{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["FontAwesome"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "no-empty-source": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "declaration-no-important": null,
    "selector-max-id": null,
    "selector-no-qualifying-type": null,
    "selector-max-universal": null,
    "max-nesting-depth": null,
    "selector-max-compound-selectors": null,
    "selector-max-specificity": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null
  }
}
