@use 'sass:map';
@use '@angular/material' as mat;

@use '../../app/clients/clients-view/clients-view.component-theme' as clients-view;
@use '../../app/groups/groups-view/groups-view.component-theme' as groups-view;
@use '../../app/centers/centers-view/centers-view.component-theme' as centers-view;
@use '../../app/home/dashboard/dashboard.component-theme' as dashboard;
@use '../../app/loans/loans-view/loans-view.component-theme' as loans-view;
@use '../../app/savings/savings-account-view/savings-account-view.component-theme' as savings-account-view;
@use '../../app/shares/shares-account-view/shares-account-view.component-theme' as shares-account-view;
@use '../../app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component-theme' as fixed-deposits-account-view;
@use '../../app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component-theme' as recurring-deposits-account-view;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$mat-picton-blue: (
  100: #6ce0ff,
  500: #1daeec,
  700: #007fb9,
  contrast: (
    100: $dark-primary-text,
    500: $dark-primary-text,
    700: $dark-primary-text
  )
);

$mat-yellow-green: (
  100: #e7ffa5,
  500: #b4d575,
  700: #83a447,
  contrast: (
    100: $dark-primary-text,
    500: $dark-primary-text,
    700: $dark-primary-text
  )
);

@include mat.core();

$mifosx-app-primary: mat.m2-define-palette($mat-picton-blue);
$mifosx-app-accent: mat.m2-define-palette($mat-yellow-green);
$mifosx-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$mifosx-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $mifosx-app-primary,
    accent: $mifosx-app-accent,
    warn: $mifosx-app-warn,
  )
));

@include mat.all-component-themes($mifosx-app-theme);
@include clients-view.clients-view-component-theme($mifosx-app-theme);
@include groups-view.groups-view-component-theme($mifosx-app-theme);
@include centers-view.centers-view-component-theme($mifosx-app-theme);
@include dashboard.dashboard-component-theme($mifosx-app-theme);
@include loans-view.loans-view-component-theme($mifosx-app-theme);
@include savings-account-view.savings-account-view-component-theme($mifosx-app-theme);
@include shares-account-view.shares-account-view-component-theme($mifosx-app-theme);
@include fixed-deposits-account-view.fixed-deposits-account-view-component-theme($mifosx-app-theme);
@include recurring-deposits-account-view.recurring-deposits-account-view-component-theme($mifosx-app-theme);
